## Edit the Elasticsearch config file:

sudo nano /etc/elasticsearch/elasticsearch.yml

## Add the following lines to enable authentication:

xpack.security.enabled: true
xpack.security.authc.api_key.enabled: true
xpack.security.authc.realms.native.native1.order: 0

## restart kibana and Elasticsearch

sudo systemctl restart elasticsearch
sudo systemctl restart kibana

## Set Elasticsearch Built-in Passwords

sudo /usr/share/elasticsearch/bin/elasticsearch-setup-passwords interactive

## Configure kibana

sudo nano /etc/kibana/kibana.yml

## Add

elasticsearch.username: "kibana_system"
elasticsearch.password: "YourKibanaSystemPassword"

## Restart kibana

sudo systemctl restart kibana

## Login to kibana

login with elastic as username and then input your password you created

## Create a proper user

Kibana → Stack Management → Security → Users → Create user

then fill in the fields provided

then log out and log in again with the new user details